<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'kitchen:home' %}">Restaurant Kitchen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dishTypesDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Dish Types
          </a>
          <ul class="dropdown-menu" aria-labelledby="dishTypesDropdown">
            {% for dish_type in dish_types %}
              <li><a class="dropdown-item" href="#">{{ dish_type.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dishesDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Dishes
          </a>
          <ul class="dropdown-menu" aria-labelledby="dishesDropdown">
            {% for dish in dishes %}
              <li><a class="dropdown-item" href="#">{{ dish.name }} - {{ dish.price }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cooksDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Cooks
          </a>
          <ul class="dropdown-menu" aria-labelledby="cooksDropdown">
            {% for cook in cooks %}
              <li><a class="dropdown-item" href="#">{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link">User: {{ user.username }}</a>
          </li>
          <li class="nav-item">
            <form action="{% url 'accounts:logout' %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}?next={{ request.path }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
